@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

$heading: "Pacifico", cursive;
$heading-color: #ff6f91;

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.header-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  span {
    font-family: $heading;
    font-size: 3rem;
    color: $heading-color;
  }
}
