@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");

#checklist-container {
  width: 100vw;
  height: 100vh;
  background: #e8ebf3;
  font-family: "Varela Round", sans-serif;
}

#checklist {
  --background: #ffffff;
  --text: #414856;
  --check: #4f29f0;
  --disabled: #c3c8de;
  --width: 100px;
  --height: 140px;
  --border-radius: 10px;
  background: var(--background);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
}
