@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Pacifico&display=swap");

$heading: "Pacifico", cursive;
$ff-normal: "Montserrat", sans-serif;
$text-color: #2f4858;
$heading-color: #ff6f91;

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

a {
  text-decoration: none;
  font-family: $ff-normal;
  color: $text-color;
  font-family: 600;
  margin: 100px 0px;
  padding: 16px 32px;
}

.header-wrapper {
  width: 100%;
  text-align: center;
  margin: 50px 0px;

  span {
    font-family: $heading;
    font-size: 3rem;
    color: $heading-color;
  }
}

#page-break {
  width: 100vw;
  height: auto;
  overflow: hidden;
  img {
    width: 100%;
  }
}
